**/terraform/.terraform/
.terraform/

**/*.tfstate
**/*.tfstate.*
*.tfstate
*.tfstate.*

**/.terraform.lock.hcl
.terraform.lock.hcl
**/*.tfvars
**/*.tfvars.json

.DS_Store

trust-policy.json.depricated

karpenter

